/**
 *
 * -------------------------------------------
 * Override
 * -------------------------------------------
 *
 **/

/*
 *
 * 16. Override
 *
 *
------------------------------------ */

/* 16.1. Overrided elements
==================================== */


.header-phone-social {
	line-height: 24px;
	padding-top: 5px;
}
.header-phone-social span{
	font-size: 24px;
	color: #1b9424;
}
.header-phone-social .gk-social-icons li {
	height: 24px;
	line-height: 24px;
}
.header-phone-social .gk-social-icons li  a{
	color: #999;
}


ul.products li.product h3 {
	font-family: Arial;
}
h1.product_title {
	font-family: Arial;
}

.mobile-parent {
	color: #1b9424;
}

#searchform input[type="submit"] {
	width: 30%;
	margin-left: 0;
	margin-right: 0;
	float: right;
}

#searchform input.field {
	width: 70%;
	margin-left: 0;
	margin-right: 0;
	float: left;
}
