/**
 *
 * -------------------------------------------
 * Basic template CSS file
 * -------------------------------------------
 *
 **/
 
/*
 *
 * 1. Global elements
 *
 *
------------------------------------ */
 
/* 1.1. Base document elements
==================================== */

* {
	outline: none!important;
}

html {
	-webkit-font-smoothing: subpixel-antialiased;
}

body { 
	background: #fff;
	color: #666;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.6;
	margin: 0;
	min-height: 100%;
	padding: 0;
	-ms-word-wrap: break-word;
		word-wrap: break-word;
}

body[data-mobile="true"] #main-menu-mobile select {
    font-size: 50px;
}

/* 1.2. Base typography elements
==================================== */

a,
#gk-mainbody a:active,
#gk-mainbody a:focus,
#gk-mainbody a:hover,
#gk-mainbody footer a,
#gk-mainbody #comments a,
#gk-mainbody header h1 a:active,
#gk-mainbody header h1 a:focus,
#gk-mainbody header h1 a:hover,
#gk-mainbody header h2 a:active,
#gk-mainbody header h2 a:focus,
#gk-mainbody header h2 a:hover,
#gk-mainbody .content a {
	color: #e81f00;
	-webkit-transition: color 0.2s linear;
	   -moz-transition: color 0.2s linear;
	     -o-transition: color 0.2s linear;
	        transition: color 0.2s linear;
	text-decoration: none;
}

a:hover,
a:active,
a:focus,
#gk-mainbody a,
#gk-mainbody header h1 a,
#gk-mainbody header h2 a,
#gk-mainbody footer a:hover,
#gk-mainbody #comments a:hover,
#gk-sidebar .box a:hover,
#gk-mainbody .content a:hover,
#gk-mainbody .content a:active,
#gk-mainbody .content a:focus {
	color: #1B1D1F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #1B1D1F;
	font-weight: 400;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 44px;
	font-weight: 500;
}

h2 {
	font-size: 42px;
	font-weight: 300;
}

.page-title {
	font-size: 44px;
	font-weight: 500;
	margin: 0 0 10px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h6 {
	font-size: 12px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ol {
	margin: 0;
	padding: 0;
}

ul li,
ol li {
	line-height: 2.0;
}

p {
	margin: 1em 0 2em;
}

img {
	height: auto;
	max-width: 100%;
}

.box ul ul,
.box ol ol {
	border-top: 1px solid #eee;
	margin: 0;
	padding: 0 0 0 20px;
}

/* 1.3. Base form elements
==================================== */

/* buttons */
.btn,
button,
.button,
.readon,
.nav-btn a,
.more-link,
a.gk-button,
input[type="button"],
input[type="submit"],
.shipping-calculator-button {
	-webkit-appearance: none;
	background: #eee;
	border: 1px solid #eee;
	color: #1b1d1f!important;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 38px;
	line-height: 39px;
	margin: 0 5px 2px 2px;
	padding: 0 24px;
	text-align: center;
	text-transform: uppercase;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled],
.button:active,
.button:focus,
.button:hover,
.nav-btn a:active,
.nav-btn a:focus,
.nav-btn a:hover,
button:hover,
input[type="button"]:hover,
input[type="submit"]:hover,
button:active,
input[type="button"]:active,
input[type="submit"]:active,
button.disabled,
input[type="button"].disabled,
input[type="submit"].disabled,
a.gk-button:hover,
a.gk-button:active,
a.gk-button.active,
a.gk-button.disabled,
a.gk-button[disabled],
button:focus,
a.gk-button:focus,
input[type="button"]:focus,
input[type="submit"]:focus,
.more-link:active,
.more-link:focus,
.more-link:hover,
.gk-button,
a.gk-button,
.btn.invert,
.shipping-calculator-button:hover {
 	background: #e81f00;
 	border-color: #e81f00;
 	color: #fff!important;
}

.btn.invert:hover,
.btn.invert:active,
.btn.invert.active,
.gk-button:active,
.gk-button:focus,
.gk-button:hover,
a.gk-button:active,
a.gk-button:focus,
a.gk-button:hover {
	border-color: #444;
	color: #444!important;
}

/* input fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="www"],
input[type="tel"],
textarea  {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
    border-color: #bcbcbc #dadada #e5e5e5;
    border-style: solid;
    border-width: 1px;
    color: #777;
    font-family: Arial,sans-serif;
    padding: 10px 12px !important;;
	max-width: 100%!important;
}

textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	height: auto;
	max-width: 100%!important;
	padding: 24px
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus {
	background: #fffef4;
}

label {
	display: inline-block;
	color: #111;
    font-size: 13px;
    font-weight: 600;
    padding: 0 6px 0 0;
}

select {
	height: inherit;
	max-width: 100%;
	margin-left: 1px;
	padding: 6px
}

/* 1.4. Base other elements
==================================== */

article {
	margin: 0;
}

.tag-page article,
.category-page article,
.search-page article,
.archive article,
.page-template-template-latest-php article,
.home #gk-mainbody article {
	border-top: 1px solid #e5e5e5;
	padding-top: 48px;
	margin: 0 0 52px 0;
}

.tag-page article:first-child,
.category-page article:first-child,
.search-page article:first-child,
.archive article:first-child,
.page-template-template-latest-php article:first-child,
.home #gk-mainbody article:first-child {
	border-top: 0;
	padding-top: 0;
}

.archive.author article:first-of-type {
	border-top: 0;
	padding-top: 0;
}

.tag-page article .summary,
.category-page article .summary,
.search-page article .summary,
.archive article .summary,
.page-template-template-latest-php article .summary,
.home #gk-mainbody article .summary {
	margin: 0 0 24px;
	padding-top: 12px;
}

.tag-page article .summary a,
.category-page article .summary a,
.search-page article .summary a,
.archive article .summary a,
.page-template-template-latest-php article .summary a,
.home #gk-mainbody article .summary a {
	display: inline-block;
	float: none;
	margin: 24px 0 0;
}

.page-template-template-latest-php article:first-child {
	border-top: 0;
	padding-top: 0;
}

.tag-page article:first-child,
.category-page article:first-child,
.search-page article:first-child,
.archive article:first-child {
	border-top: 0;
}

.tag-page > hr,
.search-page > hr {
	border: none;
}

#gk-mainbody {
	margin-bottom: 60px;
}

.home #gk-mainbody {
	margin: 0;
}



/* 1.5. Base CSS classes
==================================== */

/*
 *
 * 2. Template containers
 *
 *
------------------------------------ */

.gk-page-wrap + #gk-footer {
	margin-top: 20px;
}

.gk-page,
#gk-bottom > .widget-area.gk-page {
	margin: 0 auto;
	width: 100%; 
}

#gk-mainbody-columns {
	display: block;
	overflow: hidden;
	width: 100%;
}

#gk-mainbody-columns > section {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0;
}

#gk-mainbody-columns > aside {
	background: #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	float: left;
	padding: 0 0 0 72px;
}

#gk-mainbody-columns.gk-column-left > section {
	float: right;
}

#gk-mainbody-columns.gk-column-left > aside {
	float: left;
	padding: 0 62px 0 0;
}

#gk-mainbody-columns.gk-column-left > section,
#gk-mainbody-columns.gk-column-wc-left > section {
	float: right;
}

#gk-mainbody-columns.gk-column-left > aside,
#gk-mainbody-columns.gk-column-wc-left > aside {
	float: left;
	padding: 0 72px 0 0;
}

/*
 *
 * 3. Template structure
 *
 *
------------------------------------ */
 
/* 3.1. Top
==================================== */

#gk-top {
	overflow: hidden;
	padding: 24px 14px;
}

#gk-top-bar.active {
	margin-top: 0;
}

#gk-top-bar {
	background: #111; 
	color: #fff;
	height: 46px;
	line-height: 46px;
	overflow: hidden;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
}

#gk-top-bar > div {
	position: relative;
	-webkit-transition: all .35s linear;
	-moz-transition: all .35s linear;
	-ms-transition: all .35s linear;
	-o-transition: all .35s linear;
	transition: all .35s linear;
}

#gk-top-bar .box {
	padding: 0;
}

/* Button Cart */
#btn-cart {
	color: #666;
	float: right;
	height: 38px;
	line-height: 38px;
}

#btn-cart > a {
	color: #666;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 10px;
	font-weight: normal;
	line-height: 38px;
	padding: 0 16px 0 24px;
	text-transform: uppercase;
	-webkit-transition: color .5s ease-out;
	-moz-transition: color .5s ease-out;
	-ms-transition: color .5s ease-out;
	-o-transition: color .5s ease-out;
	transition: color .5s ease-out;
}

#btn-cart i {
	color: #1b1d1f;
	font-size: 20px;
	line-height: 38px;
}

#btn-cart span {
	font-weight: bold;
}

/* 3.2. Header
==================================== */

/* Header */
#gk-head {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 24px 0;
	padding: 101px 0 0 0;
}

#gk-head > div:first-child {
	background: #fff;
}

#gk-head.no-breadcrumb {
	margin: 0 0 52px 0;
}

.frontpage #gk-head,
.frontpage #gk-head.no-breadcrumb {
	margin: 0;
}

#gk-header-top {
	height: 38px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10001;
}

.admin-bar #gk-header-top {
	top: 32px;
}

.admin-bar #gk-header-top + #gk-header-nav {
	top: 70px;
}

#gk-header-top > .gk-page,
#gk-header-nav > div {
	position: relative;
}

#gk-header-nav {
	background: #1b1d1f;
	position: fixed;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.06);
	top: 38px;
	width: 100%;
	z-index: 10000;
}



#gk-head .box{
	margin: 0;
	padding: 0;
}

#gk-bg {
	background: #fff;
}

#gk-head:after,
#gk-head > div:after,
#gk-breadcrumb-area:after,
#gk-bottom:after {
	clear: both;
	content: "";
	display: table;
}

#gk-head h1 {
	margin: 0;
}

/* Logo */
#gk-header-nav h1 {
    float: left;
}

a.cssLogo {
	height: 100px;
	margin: 0 24px 0 0;
	padding: 0;
	text-indent: -999em;
	text-shadow: none;
	width: 159px;
	display: inline-block;
}

a.cssLogo {
	background: transparent url('../images/logo.png') no-repeat 0 0;
	/* You can specify there logo size and background */
	height: 63px;
	width: 131px;
}

.svg a.cssLogo {
	background-image:  url('../images/logo.svg');
}

a.textLogo {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff!important;
	float: left;
	display: inline-block;
	font-size: 20px;
	font-weight: bold;
	line-height: 63px;
	height: auto;
	margin: 0;
	padding: 0;
	text-align: left;
	text-indent: 0;
	text-transform: uppercase;
	width: auto;
}

a.textLogo small {
	color: #ddd;
	display: block;
	font-size: 10px;
	font-weight: normal;
	line-height: 1;
	margin-top: -20px;
	text-align: left;
	text-transform: none;
}

/* Userarea */
#gk-user-area {
	color: #999;
	float: left;
	font-size: 12px;
	margin-top: -64px;
}
#gk-user-area a {
	color: #c1c1c1;
	text-decoration: underline;
}

.imageLogo {
	display: inline-block;
	margin: 10px 0 5px;
}

/* 3.3. Content
==================================== */

section.intro {
	font-size: 110%;
	padding: 0;
}

.box::after,
article::after,
#respond::after,
#gk-top1::after,
#gk-top1 > div::after,
#gk-top2 > div::after,
#gk-bottom::after,
#gk-mainbody::after,
#gk-mainbody-columns::after,
#gk-bottom > div:after {
    clear: both;
    content: "";
    display: table;
}

section.content::after {
    clear: both;
    content: "";
    display: table;
}

#gk-mainbody-top {
	padding: 0 0 10px 0;
}

#gk-mainbody + #gk-mainbody-bottom {
	margin-top: 0;
	padding-top: 10px;
}

#gk-mainbody strong,
#gk-mainbody b {
	font-weight: 400;
	color: #111;
}

/* 3.4. Sidebar
==================================== */
#gk-sidebar .box,
#gk-sidebar_wc .box {
	border: 1px solid #e5e5e5;
	padding: 32px;
}

/* 3.5. Bottom
==================================== */
#gk-bottom {
	background: #f1f1f1;
	margin: 0;
}

#gk-bottom > div {
	overflow: hidden;
	margin: 0 -10px;
	padding: 44px 0 35px 0;
}
.gk-bottom > div {
	margin: 0 -10px!important;
}
#gk-bottom .box {
	float: left;
}

#gk-bottom .box,
#gk-bottom .box h3 {
	font-size: 12px;
}
#gk-bottom .box h3 {
	font-size: 18px;
	font-weight: normal;
	padding-bottom: 27px;
	text-transform: none;
}
#gk-bottom .box li {
	border: none;
	padding: 3px 0;
}
#gk-bottom .box a {
	color: #999;
}
#gk-bottom .box a:active,
#gk-bottom .box a:focus,
#gk-bottom .box a:hover {
	color: #111;
}
#gk-bottom .box.bigtitle .box-title {
	color: #999;
	font-size: 13px;
	font-weight: normal;
	line-height: 1;
	margin: 0;
	text-align: left;
	text-transform: none;
}
#gk-bottom .box.bigtitle .box-title > small {
	color: #111;
	display: block;
	font-size: 13px;
	font-weight: bold;
	padding-top: 6px;
	text-align: left;
	text-transform: uppercase;
}

/* 3.6. Footer
==================================== */

#gk-footer {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
			box-sizing: border-box;
	color: #999;
	font-size: 12px;
	line-height: 16px;
	padding: 0;
	text-align: center;
}

#gk-footer > div {
	padding: 32px 0;
}


#gk-footer a {
	color: #1b1d1f;
}

#gk-footer a:active,
#gk-footer a:focus,
#gk-footer a:hover {
	color: #e81f00;
}

#footer-menu {
	margin: 40px auto 30px auto;
}

#footer-menu li {
	border: none;
	display: inline-block;
	float: none;
	line-height: 16px;
	margin: 0 6px!important;
	padding: 0;
}

#footer-menu li a {
	display: inline-block;
	padding: 6px 0;
}

#footer-menu ul {
	display: none;
}

#gk-footer .gk-copyrights {
	color: #ccc;
	line-height: 2;
	margin: 0 auto 20px;
}

#gk-footer .gk-framework-logo {
	clear: both;
	display: block;
	margin: 0 auto!important;
	padding: 32px 0 16px 0!important;
}

/* Style switcher */
#gk-style-area {
	clear: both;
	display: block;
	line-height: 10px;
	margin: 20px 0 40px 0;
	padding: 10px 0 11px 0;
	text-align: center;
}

#gk-style-area a {
	display: inline-block;
	height: 10px;
	margin: 15px 0 0 5px;
	text-indent: -9999px;
	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	-ms-transform: scale(1.0);
	-o-transform: scale(1.0);
	transform: scale(1.0);
	-webkit-transition: -webkit-transform 0.2s ease-out;
	-moz-transition: -moz-transform 0.2s ease-out;
	-o-transition: -o-transform 0.2s ease-out;
	transition: transform 0.2s ease-out;
	width: 10px;
}

#gk-style-area a:first-child {
	margin-left: 0;
}

#gk-style-area a:hover {
	-webkit-transform: scale(1.25);
	-moz-transform: scale(1.25);
	-ms-transform: scale(1.25);
	-o-transform: scale(1.25);
	transform: scale(1.25);
}

#gk-color1 { background: #e81f00; }
#gk-color2 { background: #a6382e; }
#gk-color3 { background: #91c46c; }
#gk-color4 { background: #8ea66a; }
#gk-color5 { background: #69799a; }
#gk-color6 { background: #6191a5; }
#gk-color7 { background: #5999e8; }
#gk-color8 { background: #f2a705; }
#gk-color9 { background: #bf9169; }
#gk-color10 { background: #9c9985; }

/*
 *
 * 4. Widget styles
 *
 *
------------------------------------ */
 
/* 4.1. Base style
==================================== */

.box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
}

/* 4.2. Base style for other areas
==================================== */
#gk-top1 {
	overflow: hidden;
	padding: 30px 0;
}

#gk-top1 .box,
#gk-top2 .box,
#gk-bottom .box {
	float: left;
}

#gk-mainbody-top .box,
#gk-mainbody-bottom .box {
	padding: 20px 0;
}

.widget-area .col1 { width: 100%; }
.widget-area .col2 { width: 50%; }
.widget-area .col3 { width: 33.3%; }
.widget-area .col4 { width: 25%; }
.widget-area .col5 { width: 20%; }
.widget-area .col6 { width: 16.6%; }

.widget-area .box.last1 { width: 100%; }
.widget-area .box.last2 { width: 50%; }
.widget-area .box.last3 { width: 33.3%; }
.widget-area .box.last4 { width: 25%; }
.widget-area .box.last5 { width: 20%; }

.widget-area .box.double.last2 {
	width: 66.666666%;
}

.widget-area .box.double.last2 ~ .box.last2 {
	width: 33.333333%;
}

.widget-area .nth1 {
	clear: both;
}


/* 4.3. Device classes
==================================== */

.onlyDesktop {
	display: block!important;
}

.onlyTablets {
	display: none!important;
}

.onlySmartphones {
	display: none!important;
}

.onlyTabltetsAndSmartphones {
	display: none!important;
}