/**
 *
 * -------------------------------------------
 * WP Extensions CSS file
 * -------------------------------------------
 * 
 **/
 
/*
 *
 * 8. Additional WP extensions styles
 *
 *
------------------------------------ */

/* 8.1. Archives widget
==================================== */

.widget_archive li {
	border: none!important;
	color: #848484;
	padding: 2px 0;
}

.widget_archive li a {
	font-size: 13px;
	padding-right: 4px;
}

.widget_archive li a:active,
.widget_archive li a:focus,
.widget_archive li a:hover {
	color: #4c90fe;
}

/* 8.2. Custom menu widget
==================================== */

/* 8.3. Pages widget
==================================== */

/* 8.4. RSS widget
==================================== */

.box h3.box-title .rsswidget {
	clear: none;
	float: left;
	font-size: 20px;
	margin-right: 10px;
}

.box .rsswidget {
	clear: both;
	display: block;
	font-size: 16px;
	margin: 20px 0 10px;
}

.box .rss-date {
	clear: both;
	display: block;
	font-size: 11px;
	font-style: italic;
	margin-top: -10px;
	text-align: right;
}

.box .rssSummary {
	clear: both;
	color: #888;
	font-size: 12px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.widget_rss cite {
	font-size: 12px;
}

/* 8.5. Text widget
==================================== */

#gk-header .box.widget_text {
	padding: 0!important;
}

#gk-header .box.widget_text img {
	height: auto;
	max-width: 100%;
}

/* 8.6. Calendar widget
==================================== */
#gk-sidebar .box.widget_calendar,
#gk-sidebar-wc .box.widget_calendar  {
	border: 0;
	padding: 0;
}

.box #wp-calendar {
	background: #fff;
	width: 100%;
}

.box #wp-calendar caption {
	background: #fff;
	border: 1px solid #eee;
	border-bottom: 0;
	font-size: 14px;
	font-weight: normal;
	padding: 5px 0;
}

.box #wp-calendar th {
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	color: #333;
	font-size: 12px;
	font-weight: normal;
	padding: 0;
}

.box #wp-calendar td {
	border: 1px solid #eee;
	font-size: 11px;
	padding: 5px 0;
	text-align: center;
}

.box #wp-calendar td.pad {
	background: #fbfbfb;
}

.box #wp-calendar td#today {
	background: #e81f00;
	color: #fff;
	font-size: 13px;
}

.box #wp-calendar td a {
	font-weight: bold;
}


/* 8.7. Links widget
==================================== */

.box ul.xoxo a {
	display: block;
	font-size: 12px;
	line-height: 20px;
}

.box ul.xoxo a img {
	vertical-align: middle;
}

.box ul.xoxo li {
	font-size: 10px;
	padding: 5px 0;
}

/* 8.8. Recent comments widget
==================================== */

/* 8.9. Search widget
==================================== */
 
.box #searchform label,
.box #searchform #searchsubmit {
	display: none;
}

.box #searchform .field {
	width: 100%;
}

.box.widget_search {
	border: 0!important;
	padding: 0!important;
	position: relative;
}

.box #searchform:after {
	color: #111;
	content: "\f002";
	font-family: FontAwesome;
	position: absolute;
	right: 20px;
	top: 6px;
	z-index: 1;
}
 
/* 8.10. Categories widget
==================================== */

/* 8.11. Meta widget
==================================== */

/* 8.12. Recent posts widget
==================================== */

/* 8.13. Tag cloud widget
==================================== */

.box.tags .tagcloud {
	overflow: hidden;
}

.box.tags .tagcloud a {
	border: 1px solid #E5E5E5;
	float: left;
	font-size: 13px!important;
	line-height: 1.5;
	margin: 0 3px 3px 0;
	padding: 3px 12px!important;
}

/* 8.14. Common widget styles
==================================== */

/* Modules */
.box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		 -o-box-sizing: border-box;
		 	box-sizing: border-box;
	color: #888;
	line-height: 1.6;
	margin: 0 0 32px 0;
	width: 100%;
}

#gk-top-bar .box {
	line-height: 46px;
}

#gk-mainbody .box {
	margin-bottom: 30px;
	padding-top: 30px;
	padding-left: 0;
	padding-right: 0;
}

#gk-inset .box {
	padding-top: 20px;
}

.box ul {
	list-style-type: none;
	margin: 0;
}

.box ul li {
	border-top: 1px solid #e5e5e5;
	line-height: 1.6;
	padding: 5px 0;
}

#gk-top1 .box ul li {
	font-size: 16px;
	font-weight: 400;
	padding: 10px 0;
}

.box ul li:first-child {
	border: 0;
}

.box .box-title {
	font-size: 18px;
	font-weight: bold;
	line-height: 1;
	padding: 0 0 32px 0;
	text-transform: uppercase;
}

.box .box-title > i {
	float: right;
	padding: 0!important;
}

.box .box-title em {
	color: #fec54c;
	font-style: normal;
}

/* Newsletter */
.box.newsletter {
	float: right!important;
	max-width: 340px;
	padding: 0!important;
}

/* Style advertisement */
.box.advertisement .box-title {
	background: transparent;
	border-bottom: 1px solid #e0e0e0;
	color: #bbb!important;
	font-size: 12px!important;
	font-style: italic;
	font-weight: 300;
	line-height: 16px;
	margin: 0 0 16px 0;
	min-height: 21px;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
}

/* Style bigtitle */
.box.bigtitle .box-title,
.box-title.bigtitle {
	font-size: 30px;
	font-weight: bold;
	line-height: 1;
	margin: 0 auto;
	padding: 0 0 32px 0;
	text-align: center;
	text-transform: uppercase;
}

.box-title.bigtitle {
	padding-top: 20px;
}

.box.bigtitle .box-title small,
.box-title.bigtitle small {
	background: #fff;
	font-size: 30px;
	padding: 0 40px;
}

.box.bigtitle .box-title:after,
.box-title.bigtitle:after {
	border-top: 2px solid #e5e5e5;
	content: "";
	display: block;
	margin-top: -15px;
}

/* Style centered */
.box.centered {
	margin: 0!important;
	padding: 50px 0!important;
}

.box.centered .box-title {
	font-weight: 400;
	text-align: center;
}

.centered .gk-nsp-art {
	padding: 0 42px!important;
	text-align: center;
}
.centered .gk-nsp {
	margin: 0 -42px!important;
}

.centered .gk-nsp-header {
	margin-bottom: 5px;
}

.centered .gk-nsp-text {
	margin-bottom: 20px!important;
}

.centered .gk-nsp-art .readon {
	display: inline-block;
	float: none;
}
.gk-centered {
	clear: both;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
}

/* Style clear */
.box.clear {
	clear: none;
	margin: 0 0 16px 0!important;
	padding: 0!important;
}

/* Style light */
.box.light {
	background: #f8f8f8;
	padding: 20px!important;
}

/* Style parallax */
.box.parallax {
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #aeaeae;
	margin: 0!important;
	padding: 150px 0!important;
}
.box.parallax .box-title {
	color: #fff;
	font-size: 36px;
	line-height: 1;
	padding: 0 0 30px 0;
	text-align: center;
}
.box.parallax .box-title:after {
	border-top: 1px solid #fff;
	clear: both;
	content: "";
	display: block;
	margin: 30px auto 0 auto;
	width: 150px;
}
.box.parallax blockquote:before,
.box.parallax blockquote p:after {
	color: #f5f5f5!important;
}
.box.parallax blockquote small {
	color: #fff;
	display: block;
	font-style: normal;
	margin-left: -60px;
	text-transform: uppercase;
}

/* Style dark */
.box.dark {
	background: #111!important;
	color: #999;
	padding: 20px!important;
}

.box.dark .box-title {
	background: transparent!important;
	line-height: 1.2;
}

.box.dark h1,
.box.dark h2,
.box.dark h3,
.box.dark h4,
.box.dark h5,
.box.dark h6 {
	color: #ddd;
}

.box.dark ul {
	margin: 0;
	padding: 0;
}

.box.dark ul li {
	border-top: 1px solid #444;
	position: relative;
}

.box.dark ul li:first-child {
	border-top: none;
}

.box.dark a {
	color: #ddd!important;
}

.box.dark a:active,
.box.dark a:focus,
.box.dark a:hover {
	color: #e81f00!important;
}

.box.dark ul ul {
	margin: 0 0 0 20px;
}

/* Style menu */
.box.menu ul ul {
	border: 0;
	margin-left: 6px;
}
.box.menu li {
	border: 0;
	-webkit-transition: all .3s ease-out;
	-moz-transition: all .3s ease-out;
	-ms-transition: all .3s ease-out;
	-o-transition: all .3s ease-out;
	transition: all .3s ease-out;
}

.box.menu li > a,
.box.widget_categories li > a {
	color: #1B1D1F;
	display: inline-block;
	line-height: 1;
	padding: 6px 0;
	padding-left: 7px;
}

.box.menu .children li > a {
	color: #666;
}

.box.menu li:hover > a,
.box.widget_categories li:hover > a {
	color: #e81f00!important;
}

.box.separator:after,
.gk-nsp.separator:after {
	border-top: 1px solid #e5e5e5;
	bottom: -60px;
	clear: both;
	content: "";
	display: block;
	left: 50%;
	margin: 0 auto 0 -200px;
	position: absolute;
	width: 400px;
}

/* Style WC menu */
.box.wc-menu li {
	border: 0;
	padding: 0;
}

.box.wc-menu ul ul {
	border-top: 0;
}

.box.wc-menu li a {
	display: inline-block;
	line-height: 1.6;
	padding: 3px 0;
}